body{
	margin: 0;
	background-color: #2E2E2E;
	background-image: url(https://img5.goodfon.com/wallpaper/nbig/9/de/benedict-cumberbatch-movie-doctor-strange.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	color: white;
	font-family: Arial, sans-serif;
	text-align: center;
	}
h1, h2{
	 font-family: 'Lobster', cursive;
}
header{
	padding-top: 35px;
	/*background-color: #211253; #2E2E2E */
	text-align: center;
	width: 80vw;
	margin: auto;


}
header h1{
	color: orange;
	font-size: 40px;
	font-style: italic;
	background-color: #4F4C4C;
	margin-left: 500px;
	margin-right: 500px;
}
header img{
	border-radius: 9000px;
	text-align: center;
	border: 12px solid #200785;
}
main{
	padding: 5px 20px;
	text-align: center;
	margin: auto;
	max-width: 800px;
	background-position:center, center;
	background-image: url(https://www.photohdx.com/images/2017/06/clean-orange-wall-texture-background.jpg);
}
main img{
	max-width: 100%;
}
h2{
	font-size: 30px;
}

p{
	font-size: 15px
}
ul{
	list-style: none;
}
a{
	color: #10B4E4;
}
a:hover{
	color: blue;
	font-size: 30px;
}
p.euclid{
	font-family: 'Rochester', cursive;
	color: lightgrey;
	font-size: 26px;
	font-style: italic;
	margin: 0;
}